@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
 box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url('pattern-background-desktop.svg');	
  background-color: #dfe8ff;
}


.attribution { 
font-size: 11px; text-align: center; 
}
    .attributiona {
		color: hsl(228, 45%, 44%); 
		}

.rcorners {
  border-radius: 25px;
  background: white;
  padding: 20px; 
  width: 400px;
  height: 740px;  
  font-family: futura bold;
  text-align: center;
   margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 40%;
    margin-right: 40%;
	font-family: Outfit;
    font-size: 15px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	
}
.dancer
{
	object-fit: cover;
	width: 100%;
	border-radius: 20px 20px 0px 0px; 
	margin-bottom: 25px;
}