@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  background-color: #d5e1ef;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.rcorners {
  border-radius: 25px;
  background: white;

  width: 530px;
  height: 760px;  
  
   margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 40%;
    margin-right: 40%;
	font-family: Outfit;
   
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.order{
	text-align: center;
	font-weight: 800;
	color: #303863;
	padding-top: 15px;
}

.news{
	font-weight: 400;
	line-height: 1.8;
  padding: 5px 120px 5px;
  color:#767b89;
}
.upsell {
	background-color: #f7f9ff;
	display: flex;
	justify-content: space-around;
	padding: 10px;
	 margin-left: 10%;
    margin-right: 10%;
	border-radius: 15px;
}

.container {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}


.annual {
	margin-left: 15%;
	display: flex;
	flex-direction: column;
}

.first{
	
	font-weight:600;
}

.price {
	margin-top: 7%;
}

.bold {
	display: flex;
	align-self: center;
	color: #4237c0;
	cursor: pointer;
	justify-content: flex-end;
}

.bold:hover {
	color: #7C70E1;
	transition: 0.3s;
}

.payment {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-top: 5%;
	 margin-left: 10%;
    margin-right: 10%;
	
	
}

button {
	background-color: #382ade;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	color: #DFDBF5;
	font-weight: bold;
	padding: 1rem;
	cursor: pointer;
	font-size: 15px;
	border-radius: 1rem;
	border: none;
}

button:hover {
	background-color: #756CF1;
	transition: 0.3s;
}

.cancle{ 
	font-weight: bold;
	font-size: 10 px;
	margin-top: 17%;
}

.cancle:hover{
	color:#212E3E;
	transition: 0.3s;
}